/* add contact file */

#q{
	
	color:red;
	text-align:center;
	
	
	
}


.discription{
	
	width:50%;
	height:50px;
	
	
	
}

#phone{
	
color:red;
	width:415px;
	
	
}


#des{
	
height:100px;	
	
	
	
}
 
 
/*  targeting the full form body */


.ll{
	
	
	text-align:center;
	background-color:#fffdb5;
	margin-left:200px;
	margin-right:200px;
	height:100vh;
}


.cm{
	
	
	
	
}

#des{
	
	
	width:400px;
	color:#ff00ff;
}

.jk{
	
	
	background-color:#88ffff;
}


.ty{
	
	margin-left:450px;
	
}

.card1{
	
	margin-left:130px;
	margin-right:130px;
	
}

td span {
  display: inline-block;
  margin-top: -30px;
}



.qq{
	
	color:red;
	
}

.my_profile_picture{
	
width:50px;
height:50px;
	
	
	
}


