<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{base::layout(~{::section})}">
<head>
<meta charset="ISO-8859-1">
<title >this is home page</title>






</head>
<body>

<section class="banner d-flex  " >

	<ol class="class1">
	<li>
	<h4 style="text-align: left" >create account on smartconatctmanager </h4>
	
	
	</li>
	<li>
	
	<h4>User get various benefit like storing contacts on our web server for free for lifetime validity</h4>
	
    </li>
    
      <li><h4>User can retrieve back their data anytime</h4> </li>
        <li><h4>Lifetime validity for storage for free</h4></li>
    
 

    
   <button type="button" class="btn btn-outline-success gg" ><a th:href="@{https://www.youtube.com/watch?v=rgBY2rfsWNQ&list=PL0zysOflRCelmjxj-g4jLr3WKraSU_e8q&index=49}"  style="text-decoration:none">Help</a></button>




</ol>




</section>





</body>
</html>